* {
    background-color: rgb(42, 188, 236);
}

#navbar {
    width: 99vw;
    height: 7vh;
    background-color: rgb(35, 156, 65);
    display: flex;
    border-radius: 10px;
}

#title {
    position: relative;
    color: white;
    background-color: rgb(35, 156, 65);
    margin: 1%;
    font-size: 2.5vh;
    overflow: auto;
}

.navbutton {
    position: relative;
    width: 10%;
    height: 80%;
    margin: 0.3%;
    border-radius: 10px;
    border: none;
    background-color: rgb(182, 73, 61);
    color: white;
    font-size: 2vh;
}

.navbutton:hover {
    background-color: red;
    cursor: pointer;
}


#main {
    background-color: rgb(114, 87, 62);
    width: 98vw;
    height: 90vh;
    margin: auto;
    margin-top: 1vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.libbutton {
    width: 25%;
    height: 18%;
    margin: 4vw;
    border: none;
    border-radius: 10px;
    background-color: tan;
    font-size: 3vh;
}

.libbutton:hover {
    background-color: rgb(212, 168, 110);
    cursor: pointer;
}

.libdiv {
    position: relative;
    width: 100%;
    height: 100%;
    border: solid 2px black;
    border-radius: 10px;
    background-color: rgb(114, 87, 62);
}

.libtitle {
    position: relative;
    background-color: rgb(114, 87, 62);
    width: fit-content;
    margin: auto;
    margin-top: 1%;
    font-size: 7vh;
    font-style: italic;
    color: aliceblue;
}

.libparagraph {
    border: solid 1px black;
    background-color: rgb(114, 87, 62);
    width: fit-content;
    font-size: 6vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    margin-top: 4vh;
}

.libinput {
    width: 14vw;
    height: 6vh;
    border: solid 1px black;
    border-radius: 10px;
    background-color: aliceblue;
    font-size: 4.5vh;
}

::placeholder {
    font-size: 3vh;
    font-style: italic;
}