* {
    background-color: rgb(42, 188, 236);
}

#navbar {
    width: 99vw;
    height: 7vh;
    background-color: rgb(35, 156, 65);
    display: flex;
    border-radius: 10px;
}

#title {
    position: relative;
    color: white;
    background-color: rgb(35, 156, 65);
    margin: 1%;
    font-size: 3.2vh;
    overflow: auto;
}

.navbutton {
    position: relative;
    width: 9vw;
    height: 5.7vh;
    margin: 0.3%;
    border-radius: 10px;
    border: none;
    background-color: rgb(182, 73, 61);
    color: white;
    font-size: 2vh;
    border: solid 1.5px black;
}

.navbutton:hover {
    background-color: red;
    cursor: pointer;
}


#main {
    background-color: rgb(114, 87, 62);
    width: 98vw;
    height: 90vh;
    margin: auto;
    margin-top: 1vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.libbutton {
    width: 26vw;
    height: 22vh;
    margin: 3.3vw;
    border: none;
    border-radius: 10px;
    background-color: tan;
    font-size: 3vh;
}

.libbutton:hover {
    background-color: rgb(212, 168, 110);
    cursor: pointer;
}

.libdiv {
    position: relative;
    width: 100%;
    height: 100%;
    border: solid 2px black;
    border-radius: 10px;
    background-color: rgb(114, 87, 62);
}

.libtitle {
    position: relative;
    background-color: rgb(114, 87, 62);
    width: fit-content;
    margin: auto;
    margin-top: 1%;
    font-size: 7vh;
    font-style: italic;
    color: aliceblue;
}

.libparagraph {
    background-color: rgb(114, 87, 62);
    width: fit-content;
    font-size: 6vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    margin-top: 6vh;
    text-align: center;
}

.libinput {
    width: 14vw;
    height: 6vh;
    border: solid 1px black;
    border-radius: 10px;
    background-color: aliceblue;
    font-size: 4.5vh;
}

::placeholder {
    font-size: 2vh;
    font-style: italic;
}

.buttondiv {
    width: fit-content;
    background-color: rgb(114, 87, 62);
    margin: auto;
    margin-top: 6vh;
}

.bottombutton {
    width: 10vw;
    height: 6vh;
    border: solid 1px black;
    border-radius: 10px;
    margin: 1vw;
    font-size: 2.5vh;
    color: white;
}


#submit {
    background-color: rgb(32, 129, 92);
}

#submit:hover {
    background-color: rgb(25, 99, 71);
    cursor: pointer;
}

#return {
    background-color: rgb(63, 125, 184);
}

#return:hover {
    background-color: rgb(45, 89, 131);
    cursor: pointer;
}

.inputwords {
    color: rgb(182, 73, 61);
    background-color: rgb(114, 87, 62);
    width: fit-content;
    font-size: 6vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    margin-top: 6vh;
    text-align: center;
}

.instructions {
    position: relative;
    background-color: rgb(114, 87, 62);
    width: fit-content;
    margin: auto;
    margin-top: 1%;
    font-size: 3vh;
    color: rgb(191, 199, 206);
    font-family: 'Times New Roman', Times, serif;
}